*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 611px;
    font-family: "Ubuntu", sans-serif;
    background: url("clock.jpg");
    background-size: cover;
    background-color: #1d2533;
}
#container{
    width: 540px;
    height: 550px;
    margin: 100px auto;
    border: solid #81898a;
    border-radius: 43%;
    background-color: aliceblue transparent;
}
#display{
    font-size: 4.5em;
    margin: 60px 100px 40px  79px;
    padding: 30px auto;
    font-weight: 700;
    color: #252529;
}
.bx{
    font-size: 3.5em;
    font-weight: 700 !important;
    font-weight: bolder;
    padding-top: 0;
}
button{
    border-radius: 10px;
    border: none;
    background: #ddd3d3;
    width: 100px;
    padding: 5px;
    margin-right: 10px;
    font-weight: 700;
}
button:hover{
    background-color: #003;
    color: #fff;
}
#start{
    margin-left: 90px;
}
.inner-container{
    display: flex;
}
#second-container{
    flex: 1;
    width: 50%;
    padding: 5px 0 0 10px;
}
#third-container{
    flex: 1;
    width: 50%;
    padding: 5px 50px 0 0;
}
.style{
    font-size: 1.3em;
    color: rgb(204, 220, 235);
    font-weight: 700;
    margin-left: 70px;
    padding: 5px 5px 5px 15px;
}
.style:nth-child(1){
    padding-top: 10px;
}
.noDisplay{
    display: none;
}
